* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(rgb(156, 156, 156), rgb(66, 66, 66));
}

.score {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    height: 70px;
    width: 300px;
    background-color: aliceblue;
    margin-bottom: 40px;
    border-radius: 10px;
}

.score-player1 {
    height: 50px;
    width: 50%;
    background-color: rgb(95, 144, 187);
    border-radius: 5px;
}

.score-player2 {
    height: 50px;
    width: 50%;
    background-color: rgb(142, 197, 245);
    border-radius: 5px;
}

.tabuleiro {
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    background-color: black;
}

.espaco {
    display: grid;
    grid-template-columns: 3fr, 1fr;
    background-color: aliceblue;
    height: 100%;
    width: 100%;

}

.espaco:hover {
    opacity: 0.9;
}