* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    padding: 100px;
    row-gap: 200px;
    font-family: "Dosis", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    background-image: url(templates/seiko.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}