* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 6rem 1rem;
    row-gap: 12rem;
    font-family: "Dosis", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    background-image: url(/assets/images/grannys-fight.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.score-marker {
    height: auto;
    width: min(95%, 60rem);
    height: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.623);

    & #player1 {
        display: grid;
        grid-template-areas:
            "avatar nome pontos"
            "avatar vida pontos";
        grid-template-columns: 100px 2fr 1fr;
        grid-template-rows: 50px 50px;
        gap: 1rem;
        width: 100%;
        height: 6rem;

        & .avatar {
            grid-area: avatar;
            height: 110px;
            width: 110px;
            border-radius: 50%;
            background-image: url(/assets/images/blue_granny_front.png);
            background-size: cover;
            transition: background-image 0.5s ease-in-out;
        }

        & .name {
            grid-area: nome;
            align-content: center;
            padding: 5px;
        }

        & .life {
            width: 100%;
            height: 20px;
            background-color: #ccc;
            border-radius: 10px;
            overflow: hidden;

            & .life-bar {
                width: 100%;
                height: 100%;
                background-color: #4caf50;
                transition: width 0.3s ease;
            }
        }

        & .points {
            grid-area: pontos;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 5px;
        }
    }

    & #player2 {
        display: grid;
        grid-template-areas:
            "pontos nome avatar"
            "pontos vida avatar";
        grid-template-columns: 1fr 2fr 100px;
        grid-template-rows: 50px 50px;
        gap: 1rem;
        width: 100%;
        height: 6rem;

        & .avatar {
            grid-area: avatar;
            height: 110px;
            width: 110px;
            border-radius: 50%;
            background-image: url(/assets/images/yellow_granny_front.png);
            background-size: cover;
            transition: background-image 0.3s ease-in-out;
        }

        & .name {
            grid-area: nome;
            align-content: center;
            text-align: end;
            padding: 5px;
        }

        & .life {
            width: 100%;
            height: 20px;
            background-color: #ccc;
            border-radius: 10px;
            overflow: hidden;
            transform: scaleX(-1);

            & .life-bar {
                width: 100%;
                height: 100%;
                background-color: #4caf50;
                transition: width 0.3s ease;
            }
        }

        & .points {
            grid-area: pontos;
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 5px;
        }
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: min(95vw, 40rem);
    width: min(95%, 40rem);
    padding: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.623);

    & .space {
        pointer-events: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        font-size: 5rem;
        font-weight: bold;
        text-align: center;
        box-sizing: border-box;
        overflow: hidden;
        border: 6px solid black;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            border-top: none;
        }

        &:nth-child(3n + 1) {
            border-left: none;
        }

        &:nth-child(3n) {
            border-right: none;
        }

        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
            border-bottom: none;
        }

        &:hover::before {
            content: attr(data-ghost-mark);
            opacity: 0.3;
            position: absolute;
            font-size: 5rem;
            font-weight: bold;
        }
    }

    & .marked {
        animation: scaleMark 0.3s ease-out forwards;
    }
}

@keyframes scaleMark {
    0% {
        transform: scale(4);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.round-notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    align-content: center;
    text-align: center;
    color: aliceblue;
    font-size: 5rem;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;

    &.show::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0rem;
        height: 0rem;
        background-color: hsla(0, 0%, 0%, 0.781);
        backdrop-filter: blur(3px);
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.623);
        opacity: 0;
        z-index: -1;
    }

    &.show::before,
    &.show {
        animation: animation-growth 0.3s ease-out forwards;
    }

    &.hide {
        animation: animation-shrink 0.3s ease-out forwards;
    }
}

.winner-notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    align-content: center;
    text-align: center;
    color: aliceblue;
    font-size: 0rem;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;

    &.show::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0rem;
        height: 0rem;
        background-color: hsla(0, 0%, 0%, 0.781);
        backdrop-filter: blur(3px);
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.623);
        opacity: 0;
        z-index: -1;
    }

    &.show,
    &.show::before {
        animation: animation-growth 0.3s ease-out forwards;
    }

    &.hide {
        animation: animation-shrink 0.3s ease-out forwards;
    }
}

@keyframes animation-growth {
    0% {
        font-size: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }

    100% {
        font-size: 5rem;
        width: 35rem;
        height: 8rem;
        opacity: 1;
    }
}

@keyframes animation-shrink {
    0% {
        font-size: 5rem;
        width: 35rem;
        height: 8rem;
        opacity: 1;
    }

    100% {
        font-size: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }
}


#play-again-button {
    position: fixed;
    top: 60%;
    left: clamp(40%, 55%, 55%);
    transform: translate(-50%, -50%);
    height: 3rem;
    width: 9rem;
    border-radius: 10px;
    border: none;
    opacity: 0;
    background-color: rgba(21, 168, 2, 0.699);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.753);
    font-size: 1.5rem;
    color: aliceblue;
    pointer-events: none;
    transform-origin: center;

    &:hover {
        background-color: rgba(34, 201, 12, 0.815);
        transform: translate(-50%, -50%) scale(1.08);
    }

    &.show {
        opacity: 1;
        pointer-events: all;
    }
}

#back-menu-button {
    position: fixed;
    top: 60%;
    left: clamp(40%, 45%, 45%);
    transform: translate(-50%, -50%);
    height: 3rem;
    width: 9rem;
    border-radius: 10px;
    border: none;
    opacity: 0;
    background-color: rgba(21, 168, 2, 0.699);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.753);
    font-size: 1.5rem;
    color: aliceblue;
    pointer-events: none;
    transform-origin: center;

    &:hover {
        background-color: rgba(34, 201, 12, 0.815);
        transform: translate(-50%, -50%) scale(1.08);
    }

    &.show {
        opacity: 1;
        pointer-events: all;
    }
}

@keyframes buttonAppear {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}