@font-face {
    font-family: "Runtoe";
    src: url("/assets/fonts/Runtoe.otf") format("opentype"),
        url("/assets/fonts/Runtoe.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: max(1.5rem, 5.5rem - 5vw);
    row-gap: 5.5rem;
    font-family: "Runtoe";
    color: rgb(216, 216, 216);
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
    background-image: url(/assets/images/yVSb-game-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    transition: all 0.5s ease;
}

.score-marker {
    width: clamp(20rem, 90vw, 60rem);
    height: clamp(6rem, 22vw, 10rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.623);
    text-shadow: 0 8px 5px black;

    & #player1 {
        display: grid;
        grid-template-areas:
            "avatar nome pontos"
            "avatar vida pontos";
        grid-template-columns: clamp(3em, 15vw, 6em) 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px 5px;
        width: clamp(0.2rem, 50%, 50%);
        height: 100%;

        & .avatar {
            grid-area: avatar;
            align-self: center;
            margin: auto;
            width: clamp(5em, 6vw, 6em);
            height: clamp(5em, 6vw, 6em);
            border-radius: 50%;
            background-image: url(/assets/images/blue_granny_front.png);
            background-size: cover;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.842);
            transition: background-image 0.5s ease-in-out;
        }

        & .name {
            grid-area: nome;
            align-content: center;
            padding: 5px;
        }

        & .life {
            width: 100%;
            height: 20px;
            background-color: #ccc;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.842);

            & .life-bar {
                width: 100%;
                height: 100%;
                background-color: #4caf50;
                transition: width 0.3s ease;
            }
        }

        & .points {
            grid-area: pontos;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 5px;
        }
    }

    & #player2 {
        display: grid;
        grid-template-areas:
            "pontos nome avatar"
            "pontos vida avatar";
        grid-template-columns: 1fr 2fr clamp(3em, 15vw, 6em);
        grid-template-rows: 1fr 1fr;
        gap: 5px 5px;
        width: clamp(0.2rem, 50%, 50%);
        height: 100%;

        & .avatar {
            grid-area: avatar;
            align-self: center;
            margin: auto;
            width: clamp(5em, 6vw, 6em);
            height: clamp(5em, 6vw, 6em);
            border-radius: 50%;
            background-image: url(/assets/images/yellow_granny_front.png);
            background-size: cover;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.842);
            transition: background-image 0.3s ease-in-out;
        }

        & .name {
            grid-area: nome;
            align-content: center;
            text-align: end;
            padding: 5px;
        }

        & .life {
            width: 100%;
            height: 20px;
            background-color: #ccc;
            border-radius: 10px;
            overflow: hidden;
            transform: scaleX(-1);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.842);

            & .life-bar {
                width: 100%;
                height: 100%;
                background-color: #4caf50;
                transition: width 0.3s ease;
            }
        }

        & .points {
            grid-area: pontos;
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 5px;
        }
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: clamp(450px, 50vw, 35rem);
    width: clamp(450px, 50vw, 35rem);
    padding: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.623);

    & .space {
        pointer-events: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        font-size: max(4rem, 5vw);
        text-align: center;
        text-shadow: 0 8px 5px black;
        box-sizing: border-box;
        overflow: hidden;
        border: 6px solid black;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            border-top: none;
        }

        &:nth-child(3n + 1) {
            border-left: none;
        }

        &:nth-child(3n) {
            border-right: none;
        }

        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
            border-bottom: none;
        }

        &:hover::before {
            content: attr(data-ghost-mark);
            opacity: 0.3;
            position: absolute;
            font-size: 5rem;
        }
    }

    & .marked {
        animation: scaleMark 0.3s ease-out forwards;
    }
}

@keyframes scaleMark {
    0% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.round-notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    align-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;

    &.show::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0rem;
        height: 0rem;
        background-color: hsla(0, 0%, 0%, 0.781);
        backdrop-filter: blur(3px);
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.623);
        opacity: 0;
        z-index: -1;
    }

    &.show::before,
    &.show {
        animation: animation-growth 0.3s ease-out forwards;
    }

    &.hide {
        animation: animation-shrink 0.3s ease-out forwards;
    }
}

.winner-notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    align-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;

    &.show::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0rem;
        height: 0rem;
        background-color: hsla(0, 0%, 0%, 0.781);
        backdrop-filter: blur(3px);
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.623);
        opacity: 0;
        z-index: -1;
    }

    &.show,
    &.show::before {
        animation: animation-growth 0.3s ease-out forwards;
    }

    &.hide {
        animation: animation-shrink 0.3s ease-out forwards;
    }
}

@keyframes animation-growth {
    0% {
        font-size: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }

    100% {
        font-size: clamp(3rem, 5vw, 5rem);
        width: clamp(460px, 40vw, 40vw);
        height: 8rem;
        opacity: 1;
    }
}

@keyframes animation-shrink {
    0% {
        font-size: clamp(3rem, 5vw, 5rem);
        width: clamp(460px, 40vw, 40vw);
        height: 8rem;
        opacity: 1;
    }

    100% {
        font-size: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }
}


.button-container {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 4rem;
    opacity: 0;
    pointer-events: none;
    z-index: 10;

    & #play-again-button,
    #back-menu-button {
        font-family: "Runtoe";
        color: rgb(216, 216, 216);
        height: 3rem;
        width: clamp(9rem, 20vw, 9rem);
        border-radius: 10px;
        border: none;
        background-color: rgba(21, 168, 2, 0.699);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.753);
        font-size: 1.5rem;
        transform-origin: center;

        &:hover {
            background-color: rgba(34, 201, 12, 0.815);
            transform: scale(1.08);
        }
    }

    &.show {
        opacity: 1;
        pointer-events: all;
    }
}

@keyframes buttonAppear {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}