@font-face {
    font-family: "Runtoe";
    src: url("../fonts/Runtoe.otf") format("opentype"),
        url("../fonts/Runtoe.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    font-family: "Runtoe";
    background-image: url(../images/fire-house.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50vw;
        height: 90vh;
        background-image: url(../images/blue_granny.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left bottom;
        z-index: 1;
        filter: drop-shadow(-8px -12px 20px rgb(2, 13, 116));
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50vw;
        height: 90vh;
        background-image: url(../images/yellow_granny.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right bottom;
        z-index: 1;
        filter: drop-shadow(-8px -12px 20px rgb(136, 44, 1));
    }
}

header {
    display: flex;
    position: absolute;
    top: 10%;
    height: min(30%, 30rem);
    width: min(95%, 80rem);
    justify-content: center;
    align-items: center;
    font-family: "Runtoe";
    font-size: clamp(3.7rem, 8vw, 8rem);
    text-shadow: 2px 10px 5px rgba(0, 0, 0, 0.37);
    background: linear-gradient(45deg, #fa1818, #660202);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 5;
}

.buttons {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    & .button {
        text-align: center;
        line-height: clamp(4rem, 8vw, 6rem);
        height: clamp(4rem, 8vw, 6rem);
        width: clamp(10rem, 50vw, 25rem);
        border-radius: 15px;
        border: none;
        font-family: "Runtoe";
        font-size: clamp(2rem, 5vw, 3.2rem);
        color: rgb(218, 218, 218);
        background: linear-gradient(to bottom, rgba(14, 14, 14, 0.650), rgba(177, 8, 8, 0.65));
        backdrop-filter: blur(2px);
        box-shadow: 2px 10px 5px rgba(0, 0, 0, 0.37);
        z-index: 5;

        &:hover {
            background: linear-gradient(to bottom, rgba(14, 14, 14, 0.726), rgba(228, 7, 7, 0.788));
            transform: scale(1.05);
            transition: all 0.2s ease-out;
        }
    }

    & #multiplayer::before {
        content: "";
        position: absolute;
        height: 100px;
        width: 200px;
        top: 20%;
        left: 70%;
        background-image: url(../images/coming-soon.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10;
        animation: pulsar 2s infinite ease-in-out;
        transform-origin: center;
    }
}

@keyframes pulsar {

    0%,
    100% {
        transform: rotate(-20deg) scale(1);
    }

    50% {
        transform: rotate(-20deg) scale(1.1);
    }
}


footer {
    position: absolute;
    top: 97%;
    color: rgb(168, 168, 168);
    font-weight: 900;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}